/* CSS Document */
*{
	margin: 0 auto;	
}

body{	
	
}

footer{
	background-color: #333;
	color: white;
	font-size: 16px;
	padding: 30px 0;
	text-align: center;
}

header{
	background-color: #3890FC;
	color: white;
	font-size: 48px;
	padding: 80px 0;
	text-align: center;
}

nav{		
	background-color: #000;	
	padding: 10px 0;
	text-align: center;
}

nav ul li{
	display: inline-block;
	font-size: 16px;
	padding: 0 25px;
	text-transform: uppercase;			
}

nav ul li a{
	color: white;
	text-decoration: none;
}

#parrafo{
	width: 900px;
	font-size: 18px;
	text-align: justify;
}

#parrafo form{	
	padding: 25px;
	text-align: right;
	width: 400px;
}

#parrafo input[type=text]{
	text-align: center;
	width: 70%;
}

#parrafo label{
	float: left;
}

#parrafo p{
	margin: 10px 0;
}

article{
	border-bottom: 1px solid #999;
	padding-left: 35px;
	width: 600px;
}

article .nombre{
	font-size: 30px;
}

article .edad{
	text-decoration: underline;
}

article .pais{
	font-size: 20px;
	font-weight: bold;
}

article .email{	
	font-style: italic;
}

